@model IEnumerable<DevelTest.Models.PollViewModel>

@{
    ViewBag.Title = "Encuestas";
}

<h1>
    @ViewBag.Title
</h1>

<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            int count = 0;
            foreach (var poll in Model)
            {
                count++;
                <h3 class="mt-5">Encuesta @count</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Nombre</h5>
                        <div class="form-control">@poll.Name</div>
                    </div>
                    <div class="col-sm-3">
                        <h5>Descripción</h5>
                        <div class="form-control">@poll.Description</div>
                    </div>
                    <div class="col-sm-6">
                        <h5>Url</h5>
                        <div class="form-control">@poll.Url</div>
                    </div>
                    <div class="col-sm-6 mt-2">
                        @Html.ActionLink("Editar", "Edit", "Poll", new { id = poll.Id }, new { @class = "btn btn-primary", id = poll.Id })
                        @Html.ActionLink("Eliminar", "Delete", "Poll", new { id = poll.Id }, new { @class = "btn btn-danger", id = poll.Id })
                        @Html.ActionLink("Ver Resultados", "Results", "Poll", new { id = poll.Id }, new { @class = "btn btn-success", id = poll.Id })
                    </div>
                </div>
                if (poll.PollFields != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Título</th>
                                <th scope="col">Tipo de Campo</th>
                                <th scope="col">Requerido</th>
                            </tr>
                        </thead>
                        @foreach (var field in poll.PollFields)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @field.Name
                                    </td>
                                    <td>
                                        @field.DisplayName
                                    </td>
                                    <td>
                                        @field.PollFieldTypeDesc
                                    </td>
                                    <td>
                                        @if (@field.Required)
                                        {
                                            <div>Requerido</div>
                                        }
                                        else
                                        {
                                            <div>No Requerido</div>
                                        }

                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>


                }
            }
        }
        else
        {
            <h2>No se ha creado ninguna encuesta.</h2>
        }

    </div>
</div>